@page
@model AdminModel

<link rel="stylesheet" href="~/css/Site.css" />

<div class="admin-page">

    <h1>ADMIN</h1>
        <h1>משתמשים רשומים:</h1>

    <form method="get" class="search-box">
        <input type="text" name="Search" placeholder="חפש משתמש..." value="@Model.Search" />
    </form>

    
    <table class="admin-table">
        <thead>
            <tr>
                <th>שם משתמש</th>
                <th>שם מלא</th>
                <th>אימייל</th>
                <th>טלפון</th>
                <th>תפקיד</th>
                <th>פעולות</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.FullName</td>
                    <td>@user.Email</td>
                    <td>@user.Phone</td>
                    <td>@user.Role</td>
                    <td>
<form method="post" asp-page-handler="Delete">
    <input type="hidden" name="username" value="@user.Username" />
    <button type="submit" class="delete-btn">מחק</button>
</form>     
       </td>
                </tr>
            }
        </tbody>
    </table>

<h1>הזמנות רשומות:</h1>

<table class="admin-table">
    <thead>
        <tr>
            <th>שם</th>
            <th>תאריך</th>
            <th>כמות אנשים</th>
            <th>פעולות</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var b in Model.Bookings)
        {
            <tr>
                <td>@b.Name</td>
                <td>@b.BookingDate</td>
                <td>@b.People</td>
                <td>
                    <form method="post" asp-page-handler="DeleteBooking">
                        <input type="hidden" name="id" value="@b.Id" />
                        <button type="submit" class="delete-btn">מחק</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

</div>